nav.navbar, .navbar-default{
	background-color: #616161;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);

}

.navbar-default {
	background-image: none;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
	color: #ffca28;
	font-size: 16px;
	font-family: 'Monoton', cursive;

}

.navbar-default .navbar-brand {
	color: #9e9e9e;
}

.navbar-default .navbar-toogle {
	border-color: #d81b60;
}

.navbar-default .navbar-toogle .icon-bar{
	background-color:  #d81b60;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	color: #d81b60;
	background-color: transparent;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #d81b60;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: white;
	background-color: transparent;
}

a.title.navbar-brand {
	font-family: 'Monoton', cursive;
	font-size: 45px;
	color: #ffca28;
}


.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
    line-height: 40px;

}


.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 32px 20px;
}
.navbar-brand{
	padding: 30px 30px;
}

.title .navbar-brand{

}

.navbar{
	margin-bottom: 40px;
}
